*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
#topbar{
    height:50px;
    width:1300px;
    background-color: rgba(6, 6, 6, 0.779);
    color:white;
    position: fixed;
    
}
#topbar:hover{
    transition: all ease-in ;

}
#logo{
    color: rgb(150, 8, 150);
    font-size: large;
}

.set{
    
    display:flex;
    
}
 .mm a{
    text-decoration: none;
    color:#c6a810;
}
.content{
    color:#FFF;
    background-image: url(../images/pexels-photo-1444442.jpeg);
    max-width: 100%;
    height: 500px;
    background-size:cover;
    text-shadow: #a91212;
    
    background-repeat: no-repeat;
}
.sl{
    margin:100px;
    
    gap:20px;

}
.sl p{
    width:500px;
    height:800px;
    background-color: rgba(140, 138, 138, 0.354);
    border-radius: 10px;

    
}
#ho:hover{
    background-color: #a91212;

}
#box{
    height:40px;
    width:250px;
    background-color:white;
    color:blue;
    padding: 10px;
    margin-left: 470px;
    position:absolute;
    margin-top: 260px;

}
#box:hover{
    border:2px solid black ;
    background-color: blanchedalmond;
    transition: all 1s ease-in;
    transform:skew(-15deg);
}
#box a{
    margin-left: 50px;
    margin-top: 200px;

}
.fo{
    height:500px;
    width:auto;
    background-image: url(../images/in-photo-photo-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
.lo{
    margin-top:10px;
    background-color: aliceblue;
    color: white;
}
