*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#topbar{
    height:50px;
    width:1300px;
    background-color: rgba(6, 6, 6, 0.779);
    color:white;
    position: fixed;
    
}
#logo{
    color: rgb(150, 8, 150);
    font-size: large;
    margin-left: 10px;
}
.bar{
    display: none;
    position: absolute;
    right: 10px;
    top:40px;
    width:150px;
    background-image:url(../images/love-marry-me-hd-wallpaper_665280-13659.avif);
    background-size:auto;
    transition: height .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 .bar a{
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 3px;
    margin-left:15px;
    color:white;
    border-radius: 10px;
 }
 .bar a:hover{
    color:rgb(130, 137, 12);
 }


.set{
    
    display:flex;
    
}
 .toggle_btn i{
color:rgba(6, 6, 6, 0.779);
}
 a{
    text-decoration: none;
    color:#e3bf0ef7;
}
.mm {
    margin-left: 100px; 
    padding-left: 10px;
}
.mm a{
    margin-left: 100px;
    outline: none;
    border: none ;
}
 
@media screen and (max-width:412px){
    
    #topbar{
        height:500px;
        width:412px;
        background-image: url(../images/love-marry-me-hd-wallpaper_665280-13659.avif);
        background-size: cover;
        color:white;
        position: fixed;
        
    }.mm{
        display: none;
       
       }
  .toggle_btn i {
    color:white ;
    margin-left: 150px;
    margin-top: 15px;
    display: block;
    height: 50px;

        }
  .bar{
    display: block;
   

}
}
