<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/About us.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header id="topbar"  >
        <div class="set" >
    <div id="logo"  ><i class="fa-solid fa-camera" style="color:rgb(157, 6, 157);"></i>VIJAY DIGITAL</div>
    <div class="mm" > 
        <a href="../index.html">HOME</a>
        <a href="#">ABOUT US </a>
        <a href="../Templates/package.html" >PACKAGES</a>
        <a href="../Templates/login.html">LOGIN</a>
        <a href="../Templates/contact.html">CONTACT US</a>
        </div>
            
        </div>
        <div class="bar" > 
            <a href="../index.html">HOME</a></br>
            <a href="#">ABOUT US </a></br>
            <a href="../Templates/package.html" >PACKAGES</a></br>
            <a href="../Templates/contact.html">CONTACT US</a></br>



</header>    
 <div class="content">
    <div>
        <div id="border">
            
          <div class="po">
            
            <div class="t">
            <span id="nm"><p><img src="../images/ra-removebg-preview 3.png" height="40px"  width="80px"> Vijay Digitial</p></span>
            <div class="term">
           <p>I’m Vijay Kumar, a dedicated photographer</br> with  a passion for capturing the essence of</br> life's special moments.</br></p>
           <p>Since founding my photo studio in 2020, </br>I’ve been committed to providing exceptional </br>photography services that highlight your unique </br>stories and celebrations.</br></p>
            <p>With four years of experiiful, lasting </br>
                 memories.</p><p> I pride myself on delivering high-quality images </br></p>that you’ll cherish for years to come.</p>
            <p>I look forward to the opportunity to work</br>
                 with you and create beaut
            <p><b>"A genuine love for capturing beauty and </br>emotion in every shot"</b></p>
            </div>
           
           
            </div>
           <span class="pic">
           
                </span>
        
          </div>
          
        </div>
        
    </div>

 </div>
 
 <footer>
    <div class="foo">
        
        <a href="https://www.facebook.com/vijay0234?mibextid=ZbWKwL"><i class="fa-brands fa-facebook" style="color: #093ba5; font-size: 40px;"></i> </a>
        <a href="https://www.instagram.com/vijayvijay2395/?igsh=Y3hhYXprY2Yxdnhi" style="font-size: 40px;"><i class="fa-brands fa-instagram" style="color: #65072d;"></i></a>
    </div>
</footer>


</body>
</html>