<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="widht=device-width" initial scale="1.0">
   <link rel="stylesheet" href="../css/login.css">
    </head>
    <body>
        
        <div class="box">
            <input type="checkbox" id="chk" aria-hidden="true">
            <div class="m">
                <form>
        <label  for="chk" aria-hidden="true">SIGN IN</label>
        <p>NAME:</p>
        <input type="text" name="text" placeholder="Enter Your Name" required="">
        <p>MOBILE NUMBER:</p>
        <input  type="number" name="NUMBER"   placeholder="Enter Your Number" required="">
        <P>EMAIL ADDRESS:</P>
        <input  type="email" name="EMAIL" placeholder="Enter Your Email" required="">
        <P>PASSWORD:</P>
        <input  type="password" name="pswd" placeholder="password" required=""></br>
        <button >SIGN IN</button>
         </div>
       
       </form>
       

<div class="login">
    <form>
        <label for="chk" aria-hidden="true">LOGIN</label>
        <P>EMAIL ADDRESS:</P>
        <input  type="email" name="EMAIL" placeholder="Enter Your Email" required="">
        <P>PASSWORD:</P>
        <input  type="password" name="password" placeholder="password" required=""></br>
        <p style="text-decoration:underline;">forget the password</p>
        <button ><a href="../index.html">login</a></button>
    </form>
    </div>
</div>
    </body>
</html>