<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/package.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    </head>
    <body>
        <header id="topbar"  >
            <div class="set" >
        <div id="logo" style="margin-left: 10px;" ><i class="fa-solid fa-camera" style="color:rgb(157, 6, 157);"></i>VIJAY DIGITAL</div>
        <div class="mm" style="margin-left: 100px; padding-left: 10px;" > 
            <a href="../index.html" style="padding-left: 100px;">HOME</a>
            <a  style="padding-left: 100px;">ABOUT </a>
            <a href="package.html" style="padding-left: 100px;">PACKAGES</a>
            <a style="padding-left: 100px;">LOGIN</a>
            <a style="padding-left: 100px;">CONTACT US</a>
            


 </div>
        
</header> 
<div class="content" >
   <h1 style="margin-left: 850px;display:flex; padding-top: 250px;">PHOTOS & VIDEO</h1>
   <h1 style="margin-left: 800px; font-size: 70px;">PACKAGES</h1>
   </image>
   </div>

    </image>
    <div style="background-color:#ffff;" >
    <div><b><H1 style="margin-left: 400px; margin-top:50px; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-style:oblique;color:rgb(72, 8, 48);font-size: 100px; text-decoration:underline;">PACKAGES</H1></b></div>
    <div class="sl">
    <div style="display:flex; gap:100px;">
    <div><div style="text-align: center;"><p style="padding-top:50px;"><b style="font-size:26px; color: #b30000;">MARRIAGE</b> <span style="height: 200px; width:300px;display: flex;margin-top:20px ;margin-left:100px;margin-bottom: 50px   ;box-shadow:2px 3px 12px;"><img src="../images/udaipur_destination_wedding_photographer_0074.jpg"></span>
    <span style="letter-spacing:normal; line-height: 30px;"> 
        <b><span style="font-size:20px ;">Customized Team Size</span></br>
        <span>4 to 10 Hours Coverage</span></br>
        <span>Call us to know more about <br>
                   this package</span>
                   <span style="width:200px;height:150px;display: flex ; background-color:#0abfb37e; align-items: center;margin-left: 150px; margin-top: 110px; border-radius: 10px; ">
                    <a href="#" style="color: #ffff; padding: 10px;">CONTACT US FOR 
                        PRICE</a></b>
                   </span>
    </span>
                
    </p></div>    
    </div>
    
    
    <div style="text-align: center; " ><p  style="padding-top:50px;"><b style="font-size:26px; color:#b30000;">BIRTHDAY PARTY</b><span style="height: 200px; width:300px;display: flex;margin-top:20px ;margin-left:100px;margin-bottom:50px;margin-bottom: 50px;box-shadow:2px 3px 12px;"><image src="../images/t.jpeg"></image></span>
        <span style="letter-spacing:normal; line-height: 30px;"> 
            <b><span style="font-size:20px;">1 Traditional Photographer</span></br>
            <span>1 Traditional Videographer</span></br>
            <span>3 to 5 Hours Coverage</span></br>
            <span>Soft copy of Unlimited </br> Original Pictures</span>
            <span>Full Length Video with </br>
                Crisp Edits</span>
                       <span style="width:200px;height:150px;display: flex ; background-color:#0abfb37e; align-items: center;margin-left: 150px; margin-top: 40px; border-radius: 10px; ">
                        <b><span style="color: #ffff; padding:20px;">STARTING FROM
                                 ₹30,000
                            </span></b> 
                       </span>
        </span>
    
    
    </p> </div>
    </div>  
    <div style="margin-top:100px; display:flex;gap:100px ">
    <div style="text-align: center;" ><p  style="padding-top:50px;"><b style="font-size:26px; color: #b30000;">PRE-WEDDING SHOOT</b><span style=" height: 200px; width:300px;display: flex;margin-top:20px ;margin-left:100px;margin-bottom: 50px;box-shadow:2px 3px 12px;"><image src="../images/k.jpeg"></image></span>
        <span style="letter-spacing:normal; line-height: 30px;"> 
            <b><span style="font-size:20px;">1 Traditional Photographer</span></br>
            <span>1 to 3 Hours Shoot</span></br>
            <span>Original Pictures</span>
                       <span style="width:200px;height:150px;display: flex ; background-color:#0abfb37e; align-items: center;margin-left: 150px; margin-top: 140px; border-radius: 10px; ">
                        <b><span style="color: #ffff; padding:20px;">STARTING FROM
                                   ₹30,000
                            </span></b> 
                       </span>
        </span>
    
    </p></div>
    <div style="text-align: center;" ><p  style="padding-top:50px;"><b style="font-size:26px;color:#b30000;"> ENGAGEMENT</b><span style="height: 200px; width:300px;display: flex;margin-top:20px ;margin-left:100px;margin-bottom: 50px;box-shadow:2px 3px 12px;"><image src="../images/Engagement Ring Photoshoot.jpeg"></image></span>
        <span style="letter-spacing:normal; line-height: 30px;"> 
            <b><span style="font-size:20px;">1 Traditional Photographer</span></br>
            <span>1 Traditional Videographer</span></br>
            <span>3 to 5 Hours Coverage</span></br>
            <span>Soft copy of Unlimited </br> Original Pictures</span>
            <span>Full Length Video with </br>
                Crisp Edits</span>
                       <span style="width:200px;height:150px;display: flex ; background-color:#0abfb37e; align-items: center;margin-left: 150px; margin-top: 40px; border-radius: 10px; ">
                        <b><span style="color: #ffff; padding:20px;">STARTING FROM
                                 ₹30,000
                            </span></b> 
                       </span>
        </span>
    
    </p></div>
    </div>
    <div style="margin-top: 100px; display:flex;gap:100px" >
    <div style="text-align: center;" ><p  style="padding-top:50px;"><b style="font-size:26px; color: #b30000;">HALF SAREEY FUNCTION</b><span style=" height: 300px; width: 150px;display: flex;margin-top:20px ;margin-left:130px; margin-bottom: 50px;box-shadow: 2px 3px 12px;"><image src="../images/1U6xfkUj_Green Butterflies Half Saree Invitation AAHAL003.png"></image></span>
        <span style="letter-spacing:normal; line-height: 30px;"> 
            <b><span style="font-size:20px;">1 Traditional Photographer</span></br>
            <span>1 Traditional Videographer</span></br>
            <span>Soft copy of Unlimited </br> Original Pictures</span>
            <span>Full Length Video with </br>
                Crisp Edits</span>
                       <span style="width:200px;height:150px;display: flex ; background-color:#0abfb37e; align-items: center;margin-left: 150px; margin-top: 40px; border-radius: 10px; ">
                        <b><span style="color: #ffff; padding:20px;">STARTING FROM
                                 ₹30,000
                            </span></b> 
                       </span>
        </span>
    
    
    </p></div>
    <div style="text-align: center;" ><p  style="padding-top:50px;"><b style="font-size:26px; color: #b30000;">HOUSE WARMING CEREMONY</b><span style=" height: 200px; width:300px;display: flex;margin-top:20px ;margin-left:100px;margin-bottom: 50px;box-shadow:2px 3px 12px;"><image src="../images/6xz.jpeg"></image></span>
        <span style="letter-spacing:normal; line-height: 30px;"> 
            <b><span style="font-size:20px;">1 Traditional Photographer</span></br>
            <span>1 Traditional Videographer</span></br>
            <span>3 to 5 Hours Coverage</span></br>
            <span>Full Length Video with 
                Crisp Edits</span>
                      <a href="#" style="hover{background-color: blue;}"> <span  style="width:200px;height:150px;display: flex ; background-color:#0abfb37e; align-items: center;margin-left: 150px; margin-top:170px; border-radius: 10px;">
                        
                        <b><span style="color: #ffff; padding:20px; ">STARTING FROM
                                 ₹30,000
                            </span></b>
                       </span></a>
        </span>
    
    </p></div>
</div>

    </div>
    </div>
<footer>
<div>
    
</div>

</footer>
    


    </body>

</html>
